<template>
  <div class="blockchain-wrapper">
  <div class="blockchain">
    <div>
      <p>Request to:</p>
      <b-form-input v-model="node" placeholder="Choose node"></b-form-input>
    </div>
    <div style="margin-top: 3em">
      <p>Action:</p>
      <b-form-select v-model="selected" :options="options"></b-form-select>
      <div style="margin-top: 3em" class="mt-3">Selected: <strong>{{ selected }}</strong></div>
    </div>
    <div v-if="selected==='/new_transaction'">
    <b-form-input v-model="transaction.author" placeholder="Enter author"></b-form-input>
    <b-form-input style="margin-top: 1em" v-model="transaction.content" placeholder="Enter content"></b-form-input>
    <b-button class="custom-button" @click="sendTransaction" variant="outline-primary">Send transaction</b-button>
    </div>
    <div v-if="selected==='/get_chain'">
      <b-button  class="custom-button" @click="getChain" variant="outline-primary">Get chain</b-button>
    </div>
    <div v-if="selected==='/mine'">
      <b-button  class="custom-button" @click="mine" variant="outline-primary">Mine</b-button>
    </div>
    <div v-if="selected==='/register_node'">
      <b-form-input v-model="nodeToRegister" placeholder="Node to register"></b-form-input>
      <b-button  class="custom-button" @click="registerNode" variant="outline-primary">Register node</b-button>
    </div>
  </div>
  <div v-if="answer" style="margin-top: 3em; margin-bottom: 3em">
    <h3> Answer: </h3>
    {{answer}}
  </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Blockchain',
  data: function () {
    return {
      transaction: {
        author: "",
        content: ""
      },
      node: "",
      nodeToRegister: "",
      answer: "",
      options: [
        { value: '/new_transaction', text: "/new_transaction"},
        { value: '/get_chain', text: "/get_chain"},
        { value: '/mine', text: "/mine"},
        { value: '/register_node', text: '/register_node'}
      ],
      selected: '/new_transaction'
    }
  },
  mounted() {
    axios.create({
      baseURL: 'https://some-domain.com/api/',
      timeout: 1000,
      headers: {'X-Custom-Header': 'foobar'}
    });
  },
  methods: {
    sendTransaction (){
      axios.post(`${this.node}/new_transaction`, {
        author: this.transaction.author,
        content: this.transaction.content
      })
          .then((response) => {
            this.answer = response.data;
          })
          .catch((error) => {
            console.log(error);
          });
    },
    getChain () {
      axios.get(`${this.node}/get_chain`)
          .then((response) => {
            this.answer = response.data;
          })
          .catch((error) => {
            console.log(error);
          })

    },
    mine () {
      axios.get(`${this.node}/mine`)
          .then((response) => {
            this.answer = response.data;
          })
          .catch((error) => {
            console.log(error);
          })

    },
    registerNode () {
      axios.post(`${this.node}/register_node`, {
        node_address: this.nodeToRegister
      })
          .then((response) => {
            this.answer = response.data;
          })
          .catch((error) =>{
            console.log(error);
          });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.custom-button {
  margin-top: 1em;
}

.blockchain-wrapper{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.blockchain{
  width: 40%;
}
</style>
