<template>
  <div id="app">
    <img style="width: 250px" src="https://i.pinimg.com/736x/10/86/f1/1086f1b237cec9fdc29de729d26080fe.jpg">
    <Blockchain style="margin-top: 2em"/>
  </div>
</template>

<script>
import Blockchain from './components/Blockchain.vue'

export default {
  name: 'App',
  components: {
    Blockchain
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
